<div class="card">
    <div class="card-body">
        <h5 class="titulo">LISTAR TARJETA</h5>
        <table class="table table-hover ">
            <thead class="table-dark">
                <tr>
                    <td>titular</td>
                    <td>numero tarjeta</td>
                    <td>fecha de fechaExpiracion</td>
                    <td>accion</td>
                </tr>
             </thead>
            <tbody >
                
                <tr *ngFor="let tarjeta of listaTarjetas">
                    <td>{{ tarjeta.titular }}</td>
                    <td>{{ tarjeta.numeroTarjeta }}</td>
                    <td>{{ tarjeta.fechaExpiracion }}</td>
                    <td>
                        <i  class="far fa-edit text-info "></i>
                        <i  class="far fa-trash-alt text-danger ms-3 " (click)="eliminarTarjeta(tarjeta)"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
